.header {
  display: flex;
  justify-content: center;

  img {
    height: 2rem;
  }
}

.messageFeed {
  background: white;
  border: 1px solid #707070;
  margin: 0 1.7rem;
  padding: 0;
  padding-top: 1rem;
  border-radius: 8px;

  min-height: 470px;
  max-height: 85vh;
  overflow-x: hidden;
  overflow-y: scroll;

  img {
    border-radius: 100%;
    width: 3rem;
    height: 3rem;
    border: 2px solid rgb(42, 129, 216);

    background: rgb(42, 129, 216);
    color: rgb(42, 129, 216);
    font-size: 0;
  }

  li {
    list-style-type: none;
    height: auto;
  }
}

.messageForm {
  margin: 0 2rem;

  textarea {
    width: 100%;
    height: 3rem;
    margin-top: 4px;
    font-family: helvetica;
    font-size: 1.3rem;
    padding: 4px;
    letter-spacing: 2px;
    resize: none;
    outline: none;
    font-weight: 300;
    border: none;
    border-radius: 4px;

    background: rgba(255, 255, 255, 0.15);
    &:focus {
      border: none;
    }
  }
}

.loading {
  height: 85vh;
}
