

.header {
  display: flex;
  justify-content: flex-start;

  margin-left: 1rem;
  margin-top: 1rem;

  img {
    width: 8rem;
    height: 5rem;
  }
}

.messageFeed {
  background: white;
  border: 1px solid black;
  margin: 0 1.7rem;
  padding: 0;
  border-radius: 8px;

  height: 80vh;
  overflow-x: hidden;
  overflow-y: scroll;
  
  li {
    list-style-type: none;
  }
}